name: 11- working with input

on:
    workflow_dispatch:
        inputs:
            dry-run:
                type: boolean
                default: false
                description: skip deployment and only ofr build output
            target:
                type: environment
                required: true    
                description : Which environment you are goign to run
            tag:
                type: choice
                options:
                    - v1
                    - v2
                    - v3   
                default : v4
                description: please enter the environment you want to run 


jobs:

 job1:
  runs-on : ubuntu-latest
  steps:
    - name: first task
      run: |
      
       echo "building from tag ${{inputs.tag}}"


 build:
  runs-on : ubuntu-latest
  needs: job1
  steps:
    - name: first task
      run: |
      
       echo "building from tag ${{inputs.tag}}"

 deploy:
   runs-on : ubuntu-latest
   needs: build
   if: ${{!inputs.dry-run}}
   steps:
    - name: first task
      run: |
      
       echo "building from tag ${{inputs.target}}"