name: 11- working with input
run-name: 'this is inut and output pipelien created by praba'

on:
    workflow_dispatch:
        inputs:
            dry-run:
                type: boolean
                default: false
                description: skip deployment and only ofr build output
            target:
                type: environment
                required: true    
                description : Which environment you are goign to run
            tag:
                type: choice
                options:
                    - v1
                    - v2
                    - v3   
                    - v4
                default : v4
                description: please enter the environment you want to run 


jobs:

 job1:
  runs-on : ubuntu-latest
  outputs: 
    outpu1: ${{steps.fstout.outputs.prabaoutput}}
  steps:
    - name: first task
      id : fstout

      run: |
      
       echo "building from tag ${{inputs.tag}}"
       echo 'prabaoutput=hellomanhowareayou' >> "$GITHUB_OUTPUT"
    



 build:
  runs-on : ubuntu-latest
  needs: job1
  steps:
    - name: first task
      run: |
      
       echo "building from tag ${{inputs.tag}}"
       echo 'this is outut value ${{needs.job1.outputs.outpu1}}'

 deploy:
   runs-on : ubuntu-latest
   needs: 
    - build
    - job1
   if: ${{!inputs.dry-run}}
   steps:
    - name: first task
      run: |
       echo "building from tag ${{inputs.target}}"
       echo 'this is outut value ${{needs.job1.outputs.outpu1}}'